.contact-link {
    border: none;
    font-size: 15px;
    font-weight: 400;
    padding: 14px 32px;
    transition: background-color 0.3s linear;
    cursor: pointer;
    text-decoration: none;
}

.contact-link__primary {
    background-color: #2C3878;
    color: #fff;
}

.contact-link__primary:hover {
    background-color: #566093;
}

.contact-link__secondary {
    background-color: #FFFFFF;
    color: #333;
}

.contact-link__secondary:hover {
    background-color: #ABAFC9;
}