.card {
    background-color: #FFFFFF;

    &__container {
        margin-top: 43px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        gap: 80px;

        &-number {
            font-size: 36px;
            font-weight: 600;
            line-height: 44.8px;
            color: #333333;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-title {
            font-size: 36px;
            font-weight: 600;
            line-height: 44.8px;
            color: #333333;
        }

        &-text {
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            color: #333333;
            width: 469px;
        }
    }

    &__button {
        background-color: #FFFFFF;
        transition: background-color 0.15s linear;
        width: 32px;
        height: 32px;
        padding: 0px;
        border-radius: 50%;

        &:hover {
            background-color: #D9D9D9;
        }
    }
}