.contact-page {
    &__container {
        width: 1200px;
        margin: 0 auto;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-bottom: 112px;

        &__item {
            width: 100%;
            margin-bottom: 20px;

            &-label {
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                color: #333333;
                margin-bottom: 10px;
            }

            &-input {
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            &-names {
                display: flex;
                justify-content: space-between;
                gap: 14px;
            }

            &-block {
                min-height: 62px;
                padding: 18px 32px;
                box-sizing: border-box;
                border: 1px solid black;

                &__phone {
                    display: flex;
                    gap: 24px;
                }
            }

            &-button {
                width: max-content;
                margin: 20px auto;
            }

            &-submit {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                color: #FFFFFF;
                padding: 14px 32px;
                background-color: #2C3878;
                border: none;
                transition: background-color 0.3s linear;

                &:hover {
                    background-color: #566093;
                }
            }
        }

        &__name {
            width: 100%;
        }
    }

    &__location {
        margin-bottom: 100px;
        
        &__info {
            display: flex;
            justify-content: space-between;
        }

        &-left {
            display: flex;
            flex-direction: column;
        }

        &__header {
            margin-top: 32px;

            &-title {
                font-size: 36px;
                font-weight: 600;
                color: #333333;
                line-height: 61.2px;
                margin-bottom: 24px;
            }

            &-text {
                font-size: 18px;
                font-weight: 400;
                color: #9C9C9C;
                line-height: 28.8px;
            }
        }

        &__email {
            display: flex;
            flex-direction: column;
            margin-top: 39px;

            &-header {
                font-size: 24px;
                font-weight: 600;
                color: #333333;
                line-height: 33.6px;
                margin-bottom: 10px;
            }

            &-text {
                font-size: 18px;
                font-weight: 400;
                color: #9C9C9C;
                line-height: 28.8px;
            }
        }

        &__phone {
            display: flex;
            flex-direction: column;
            margin-top: 39px;

            &-header {
                font-size: 24px;
                font-weight: 600;
                color: #333333;
                line-height: 33.6px;
                margin-bottom: 10px;
            }

            &-number {
                font-size: 18px;
                font-weight: 400;
                color: #9C9C9C;
                line-height: 28.8px;
            }
        }

        &-right {
            width: 728px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
            margin-top: 32px;
        }

        &__card {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &-header {
                font-size: 24px;
                font-weight: 600;
                color: #333333;
                line-height: 33.6px;
            }

            &-text {
                font-size: 18px;
                font-weight: 400;
                color: #9C9C9C;
                line-height: 28.8px;
            }
        }
    }
}

select {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 178px;
}