.choose-card {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 5px 1px #0000001A;
        padding: 20px 27px;
        margin-bottom: 100px;
    }

    &__header {
        font-size: 24px;
        font-weight: 600;
        color: #333333;
        margin-top: 20px;
    }

    &__text{
        font-size: 18px;
        font-weight: 400;
        color: #9C9C9C;
        margin-top: 20px;
        line-height: 28.8px;
        text-align: center;
    }
}