.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__right-side {
        display: flex;
        gap: 74px;
        align-items: center;
    }

    &__links{
        display: flex;
        gap: 74px;
    }

    &__link {
        text-decoration: none;
        color: #566093;
        font-weight: 400;
        font-size: 16px;
        transition: color 0.3s linear;
    }

    &__link:hover {
        color: #2C3878;
        text-decoration: underline;
    }
}